
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}




body.dark .desempenho-vazio {
  color: #373636;
}

body.light .desempenho-vazio {
  color: #555;
}


body {
  background: linear-gradient(to right, #43A047, #2E7D32);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.auth-card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  animation: fadeIn 0.5s ease-in-out;
}

.auth-title {
  font-size: 26px;
  text-align: center;
  color: #2E7D32;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #43A047;
}

input:invalid {
  border-color: #e53935;
}

input:valid {
  border-color: #43A047;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #388E3C;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.auth-btn:hover {
  background: #2E7D32;
  transform: scale(1.03);
}

.auth-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #2E7D32;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;
}

.auth-link:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.96); }
  to { opacity: 1; transform: scale(1); }
}
